.blob {
    fill: #111;
    z-index: 2;
    width: 300px;
    height: 300px;

    rect {
        width: 300px;
        height: 300px
    }
}


@keyframes from0to360 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes from360to0 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes scaleUpDown {
    from {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }

    to {
        transform: scale(0.8);
    }
}

@keyframes scaleDown {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
}

.circle {

    &__one {
        animation: from0to360 6s linear infinite;
        animation-fill-mode: forwards;
        cx: 150;
        cy: 155;
        r: 125;
        transform-origin: 155px 150px;
    }

    &__two {
        animation: from360to0 12s linear infinite, scaleUpDown 10s linear infinite;
        animation-fill-mode: forwards;
        cx: 130;
        cy: 135;
        r: 95;
        transform-origin: 145px 140px;
    }

    &__three {
        animation: from0to360 18s linear infinite;
        animation-fill-mode: forwards;
        cx: 135;
        cy: 140;
        r: 115;
        transform-origin: 140px 145px;
    }

    &__four {
        animation: from360to0 12.5s linear infinite, scaleUpDown 11s linear infinite;
        animation-fill-mode: forwards;
        cx: 135;
        cy: 130;
        r: 115;
        transform-origin: 140px 145px;
    }


    &__five {
        animation: scaleUpDown 17s linear infinite;
        animation-fill-mode: forwards;
        cx: 115;
        cy: 110;
        r: 85;
        transform-origin: 150px 155px;
    }

    &__six {
        animation: scaleUpDown 12s linear infinite;
        animation-fill-mode: forwards;
        cx: 135;
        cy: 100;
        r: 75;
        transform-origin: 150px 155px;
    }

    &__seven {
        animation: from360to0 10s linear infinite;
        animation-fill-mode: forwards;
        animation-delay: 3s;
        cx: 125;
        cy: 120;
        r: 105;
        transform-origin: 150px 135px;
    }

    &__eight {
        animation: from0to360 11s linear infinite, scaleUpDown 12s linear infinite;
        animation-fill-mode: forwards;
        cx: 132;
        cy: 106;
        r: 105;
        transform-origin: 155px 135px;
    }

    &__nine {
        animation: scaleUpDown 10s linear infinite;
        animation-fill-mode: forwards;
        animation-delay: 2s;
        cx: 115;
        cy: 110;
        r: 85;
        transform-origin: 155px 145px;
    }
}