
@mixin flex($justify-content: false, $flex: false, $flex-direction: false, $align-items: false) {
    display: flex;

    @if $justify-content != false {
      justify-content: $justify-content;
    }

    @if $flex != false {
      flex: $flex;
    }

    @if $flex-direction != false {
      flex-direction: $flex-direction;
    }

    @if $align-items != false {
      align-items: $align-items;
    }
  }

  @mixin size($w: 100%, $h: $w) {
    width: $w;
    height: $h;
  }

  @mixin background($url, $position: center, $size: contain) {
    background: url($url) no-repeat $position;
    background-size: $size;
  }

  @mixin position($p: absolute, $t: 0, $l: 0, $r: false, $b: false) {
    position: $p;
    top: $t;
    left: $l;

    @if $r != false {
      right: $r;
    }

    @if $b != false {
      bottom: $b;
    }
  }

  @mixin font-clamp($v1, $v2, $v3) {
    font-size: $v2;
    line-height: $v2;
    font-size: clamp($v1, $v2, $v3);
    line-height: clamp($v1, $v2, $v3);
  }