@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import 'variables';
@import 'mixins';
@import 'text';
@import 'section';
@import '../components/stars/stars';
@import '../components/blobs/blobs';
@import '../components/email/email';
@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/divider/divider';
@import '../components/photoshop/photoshop';
@import '../components/skill-icons/skill-icons';
@import '../components/intro-box/intro-box';
@import '../components/intro-summary/intro-summary';
@import '../components/portfolio-item/portfolio-item';

body {
	@include flex($flex-direction: column, $justify-content: center, $align-items: center);
	position: relative;
	margin: 0;
	overflow-x: hidden;
	color: $cream;
	background-color: #111111;
	background: url('/bg.jpg') repeat center;
	background-size: 350px;

	* {
		box-sizing: border-box;
	}
}

@media (min-width: 991px) {
	::-webkit-scrollbar {
		width: 8px;
		background: $black;
	}

	::-webkit-scrollbar-thumb {
		background: $cream;
	}
}

.app__wrapper {
	width: 100vw;
	min-height: 100%;
	padding: 0;
	position: relative;
	overflow-x: hidden;
}


.grit {
	mask-image: url('/textures/grit.png');
	-webkit-mask-image: url('/textures/grit.png');
}

.gradient-underlay {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	@include size(200%, 100%);
	background: linear-gradient(212deg, $blue, $pink);
	mix-blend-mode: difference;
	z-index: 0;
	transition: all .1 linear;
}

