.text {
	font-family: $font;
	color: $black;
	font-size: 2.5rem;
	font-size: clamp(2.5rem, 3rem, 7vw);
	line-height: clamp(2.5rem, 3rem, 7vw);
	z-index: 1;

	&--display {
		font-weight: 900;
		margin: 10px 0;
		width: 100%;
		padding: 0 20px;
		max-width: 800px;
	}

	&--regular {
		font-size: 1.3rem;
		font-size: clamp(1.3rem, 1.8rem, 4vw);
		line-height: clamp(1.3rem, 1.8rem, 4vw);
		margin: 0;
	}

	&--white {
		color: $cream;
	}

	&--center {
		text-align: center;
	}

	&--pink {
		color: $pink;
	}

	&__hover {
		transition: all .3s $bezier;
		color: $black;
		z-index: 1;
		text-shadow: none;
	}
  }