$cream: #F6EDD4;
$black: #111111;
$blue: #86ccf8;
$pink: #ec86f8;
$font: "Lato";

$mobile: 585px;
$tablet: 811px;

$text-shadow: 2px;
$text-shadow--inverted: -2px;

$bezier: cubic-bezier(.72,.24,.83,.56);

$icon-size: 200px;