.email {
    @include flex($justify-content: center, $align-items: center);
    position: relative;
    margin: 1rem 0;
    padding: 0 10px;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        @include size(100%);
    }

    &__msg {
        color: $black;
        font-weight: 900;
        cursor: pointer;
        position: relative;
        line-height: 2.5rem;
        line-height: clamp(1.8rem, 2.5rem, 7vw);
        font-size: 2rem;
        font-size: clamp(1.8rem, 2rem, 7vw);

        @media (max-width: $mobile) {
            line-height: 1.7rem;
            line-height: clamp(1.7rem, 1.7rem, 6vw);
            font-size: 1.6rem;
            font-size: clamp(1.6rem, 1.6rem, 6vw);
        }

        &--inactive,
        &--active {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(0, 0);
                color: $blue;
                width: 100%;
                mix-blend-mode: screen;
                z-index: -1;
                transition: all .1s ease-in-out;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(0, 0);
                color: $pink;
                width: 100%;
                mix-blend-mode: screen;
                z-index: -1;
                transition: all .1s ease-in-out;
            }

            &:focus,
            &:hover {
                &::before {
                    transform: translate(3px, 3px);
                }

                &::after {
                    transform: translate(-3px, -3px);
                }
            }
        }

        &--inactive {
            &::before, &::after {
                content: 'click/tap to show email'
            }

        }

        &--active {
            &::before, &::after {
                content: 'jamesfromonline@gmail.com'
            }

        }
    }

    a {
        color: $black;
        text-decoration: none;
    }
}