.skills-section{
    &--active {

        @each $skill, $delay in $skills {
            .skill-icon--#{$skill} {
                transform: scale(1.02);
                transition-delay: $delay;
            }

            .skill-icon--#{$skill}-blue {
                transform: translate(4px, 4px);
                transition-delay: $delay;
            }

            .skill-icon--#{$skill}-pink {
                transform: translate(-4px, -4px);
                transition-delay: $delay;
            }
        }

        .text__hover {
            transition-delay: 0.5 + unquote('s');
            text-shadow: $text-shadow $text-shadow 0px $blue,
                         $text-shadow--inverted $text-shadow--inverted 0px $pink;

            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    transition-delay: (0.5 + (0.3 * $i)) + unquote('s');
                    text-shadow: $text-shadow $text-shadow 0px $blue,
                                 $text-shadow--inverted $text-shadow--inverted 0px $pink;
                }
            }
        }
    }
}