header {
	@include flex($flex-direction: column, $justify-content: center, $align-items: center);
	position: relative;
	padding-top: 20px;
	margin: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	width: 100%;
	text-transform: uppercase;
	z-index: 1;

	@media (max-width: 585px) {
		min-height: 300px;
	}

	@media (max-width: 811px) {
		flex-direction: column;
	}
}

.header__logo {
	@include size(100%, 165px);
	@include background('/svg/james-logo.svg', center, cover);
	margin-bottom: 6rem;
	color: $black;
	z-index: 2;
	max-width: 600px;

}

.header__svg {
	position: absolute;
	top: 0;
	left: 0;
	@include size(100%, 100%);
	@include background('/svg/header.svg', top, cover);

	@media (min-width: 2100px) {
		background-position-y: 115%;
	}
}

.img__james {
	@include background('/james-vector.png');
	@include size(300px);
	padding: 20px 0;
	z-index: 1;

	@media (max-width: 811px) {
		@include size(250px);
	}

	@media (max-width: 585px) {
		@include size(200px);
	}

}