@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import 'blobs';
@import 'components/loader.css';

$cream: #F6EDD4;
$black: #111111;
$blue: #86ccf8;
$pink: #ec86f8;
$font: "Lato";

$mobile: 585px;
$tablet: 811px;

$text-shadow: 2px;
$text-shadow--inverted: -2px;

$bezier: cubic-bezier(.72,.24,.83,.56);

@font-face {
    font-family: 'don_josregular';
    src: url('/fonts/donjose_black-webfont.woff2') format('woff2'),
         url('/fonts/donjose_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font--title: 'don_josregular';

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $cream;
	margin: 0;
	overflow-x: hidden;
	background-color: #111111;
	background: url('/bg.jpg') repeat center;
	background-size: 350px;
	position: relative;

	* {
		box-sizing: border-box;
	}
}

@media (min-width: 991px) {
	::-webkit-scrollbar {
		width: 8px;
		background: $black;
	}

	::-webkit-scrollbar-thumb {
		background: $cream;
	}
}

.app__wrapper {
	min-height: 100%;
	width: 100vw;
	padding: 0;
	position: relative;
}

.grit {
	mask-image: url('/textures/grit.png');
	-webkit-mask-image: url('/textures/grit.png');
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding-top: 20px;
	margin: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	width: 100%;
	text-transform: uppercase;
	z-index: 1;

	@media (max-width: 585px) {
		min-height: 300px;
	}

	@media (max-width: 811px) {
		flex-direction: column;
	}
}

.header__logo {
	margin-bottom: 6rem;
	color: $black;
	z-index: 2;
	background: url('/svg/james-logo.svg') no-repeat center;
	background-size: cover;
	width: 100%;
	max-width: 600px;
	height: 200px;

}

.header__svg {
	position: absolute;
	top: 0;
	left: -20%;
	width: 120%;
	height: 100%;
	background: url('/svg/header.svg') no-repeat center;
	background-size: cover;

	@media (max-width: 585px) {
		background-size: cover;
	}
}

section {
	display: flex;
	z-index: 0;
}

.sect {
	width: 100%;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	&__one {
		padding: 30px 0;
		height: 40vh;
	}

	&__two {
		height: auto;
	}

	&__art {
		margin-top: 0;
	}

	&__bar-one-svg {
		position: absolute;
		top: -12px;
		left: calc(50% - 105px);
		width: 210px;
		height: 113.5%;
		background: url('/svg/bar1.svg') no-repeat center;
		background-size: cover;
		z-index: 0;
	}

	&__bar-two-svg {
		position: absolute;
		top: -28px;
		left: calc(50% - 105px);
		width: 210px;
		height: 111%;
		transform: rotate(180deg);
		background: url('/svg/bar1.svg') no-repeat center;
		background-size: cover;
		z-index: 0;
	}

	&__intro {
		&:hover {
			.skill-icon--javascript,
			.skill-icon--react,
			.skill-icon--gatsby,
			.skill-icon--pen {
				transform: scale(1.02);
			}

			.skill-icon--react {
				transition-delay: .1s
			}

			.skill-icon--gatsby {
				transition-delay: .2s;
			}

			.skill-icon--pen {
				transition-delay: .3s;
			}

			.skill-icon--javascript-blue,
			.skill-icon--react-blue,
			.skill-icon--gatsby-blue,
			.skill-icon--pen-blue {
				transform: translate(6px, 6px);
			}

			.skill-icon--react-blue {
				transition-delay: .1s;
			}

			.skill-icon--gatsby-blue {
				transition-delay: .2s;
			}

			.skill-icon--pen-blue {
				transition-delay: .3s;
			}

			.skill-icon--javascript-pink,
			.skill-icon--react-pink,
			.skill-icon--gatsby-pink,
			.skill-icon--pen-pink {
				transform: translate(-6px, -6px);
			}

			.skill-icon--react-pink {
				transition-delay: .1s;
			}

			.skill-icon--gatsby-pink {
				transition-delay: .2s;
			}

			.skill-icon--pen-pink {
				transition-delay: .3s;
			}



			.text__hover {
				transition-delay: .5s;
				text-shadow: $text-shadow $text-shadow 0px $pink, $text-shadow--inverted $text-shadow--inverted 0px $blue;


				&:nth-child(2) {
					transition-delay: .8s;
					text-shadow: $text-shadow $text-shadow 0px $pink, $text-shadow--inverted $text-shadow--inverted 0px $blue;
				}

				&:nth-child(3) {
					transition-delay: 1.1s;
					text-shadow: $text-shadow $text-shadow 0px $pink, $text-shadow--inverted $text-shadow--inverted 0px $blue;
				}

				&:nth-child(4) {
					transition-delay: 1.4s;
					text-shadow: $text-shadow $text-shadow 0px $pink, $text-shadow--inverted $text-shadow--inverted 0px $blue;
				}

				&:nth-child(5) {
					transition-delay: 1.7s;
					text-shadow: $text-shadow $text-shadow 0px $pink, $text-shadow--inverted $text-shadow--inverted 0px $blue;
				}

				&:nth-child(6) {
					transition-delay: 2s;
					text-shadow: $text-shadow $text-shadow 0px $pink, $text-shadow--inverted $text-shadow--inverted 0px $blue;
				}

				&:last-child {
					transition-delay: 2.3s;
					text-shadow: $text-shadow $text-shadow 0px $pink, $text-shadow--inverted $text-shadow--inverted 0px $blue;
				}
			}
		}

	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		min-height: 600px;
		position: relative;
	}

	&__box-svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/svg/box2.svg') no-repeat center;
		background-size: contain;
		z-index: 0;

		@media (max-width: 991px) {
			background-size: cover;
			width: 100%;
		}
	}

	&__box-svg-4 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/svg/box4.svg') no-repeat center;
		background-size: contain;
		background-attachment: fixed;
		z-index: 0;

		@media (max-width: 991px) {
			background-size: cover;
			width: 100%;
		}
	}

	&__photoshop {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__skills {
		display: grid;
    	grid-template-columns: repeat(4, 1fr);
    	grid-column-gap: 0;
		justify-items: center;
		align-items: center;
		width: 100%;
		max-width: 800px;

		@media (max-width: 585px) {
			padding: 0 10px;
		}
	}

	&--flip {
		transform: scale(-1);
	}
}

.first {
	margin-top: 12px;
}

.portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 318px;
		position: relative;

		&-inner {
			max-width: 800px;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;
			padding: 0 20px;
		}

		h2 {
			font-family: $font;
			font-size: clamp(4rem, 5rem, 7vw);
			color: $black;
			font-weight: 900;
			border: 0;
			margin: 0;
			border-bottom: 13px solid;
			border-image: url('/portfolio/underline.svg');
			border-image-slice: 125;

			a {
				position: relative;
				text-decoration: none;
				color: $black;
				z-index: 1;

				&::before {
					content: attr(data-text);
					position: absolute;
					top: 0;
					left: 0;
					transform: translate(0, 0);
					color: $blue;
					width: 100%;
					mix-blend-mode: screen;
					z-index: -1;
					transition: all .1s ease-in-out;
				}

				&::after {
					content: attr(data-text);
					position: absolute;
					top: 0;
					left: 0;
					transform: translate(0, 0);
					color: $pink;
					width: 100%;
					mix-blend-mode: screen;
					z-index: -1;
					transition: all .1s ease-in-out;
				}

				&:focus,
				&:hover {
					&::before {
						transform: translate(3px, 3px);
					}

					&::after {
						transform: translate(-3px, -3px);
					}
				}
			}
		}

		&-img {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 250px;
			width: 250px;
			height: 250px;
			z-index: 4;

			&--drafty {
				background: url('/portfolio/drafty.svg') no-repeat center;
				background-size: contain;
				width: 40%;
				height: 40%;
				padding: 10px;
				z-index: 4;
			}

			&--nrdstr {
				background: url('/portfolio/nrdstr.svg') no-repeat center;
				background-size: contain;
				width: 35%;
				height: 35%;
				padding: 10px;
				z-index: 4;
			}

			&--zalories {
				background: url('/portfolio/zalories.svg') no-repeat center;
				background-size: contain;
				width: 35%;
				height: 35%;
				padding: 10px;
				z-index: 4;
			}
		}

		&-blob {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		&-description {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			margin-left:20px;
			z-index: 1;
		}
	}

	&__box {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;

		&-one {
			background: url('/portfolio/portfolio-box-1.svg') no-repeat center;
			background-size: contain;
		}

		&-two {
			background: url('/portfolio/portfolio-box-2.svg') no-repeat center;
			background-size: contain;
		}

		&-three {
			background: url('/portfolio/portfolio-box-3.svg') no-repeat center;
			background-size: contain;
		}

		@media (max-width: 991px) {
			width: 100%;

			&-one,
			&-two,
			&-three {
				background-size: cover;
			}
		}
	}
}

.portfolio-divider {
	width: 100%;
	max-width: 800px;
	height: 100px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	&__bar-one {
		background: url('/portfolio/vertical-line-1.svg') no-repeat center;
		background-size: contain;
		width: 50%;
		height: 155px;
	}

	&__bar-two {
		background: url('/portfolio/vertical-line-1.svg') no-repeat center;
		background-size: contain;
		transform: rotate(180deg);
		width: 50%;
		height: 153px;
	}
}

.socials {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.icon {
	width: 70px;
	height: 70px;
	z-index: 1;
	margin: 0 7px;

	&--github {
		background: url('/svg/github.svg') no-repeat center;
		background-size: contain;
	}

	&--codepen {
		background: url('/svg/codepen.svg') no-repeat center;
		background-size: contain;
	}

	&--linkedin {
		background: url('/svg/linkedin.svg') no-repeat center;
		background-size: contain;
	}

	&--florida {
		display: inline-block;
		width: 80px;
		height: 80px;
		background: url('/svg/florida.svg') no-repeat center;
		background-size: contain;
	}
}

$icon-size: 200px;

.skill-icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	z-index: 2;

	@media (max-width: 811px) {
		width: 100px;
		height: 100px;
	}

	@media (max-width: 585px) {
		width: 80px;
		height: 80px;
	}

	&--javascript {
		position: relative;
		background: url('/svg/javascript.svg') no-repeat center;
		background-size: contain;
		width: 100%;
		height: 100%;
		transform: scale(1);
		transition: all .2s $bezier;
		z-index: 2;

		&-blue {
			background: url('/svg/javascript-blue.svg') no-repeat center;
			background-size: contain;
			width: 100%;
			height: 100%;
			position: absolute;
			mix-blend-mode: screen;
			top: 0;
			left: 0;
			transform: translate(0);
			z-index: 1;
			transition: all .2s $bezier;
		}

		&-pink {
			background: url('/svg/javascript-pink.svg') no-repeat center;
			background-size: contain;
			width: 100%;
			height: 100%;
			position: absolute;
			mix-blend-mode: screen;
			top: 0;
			left: 0;
			transform: translate(0);
			z-index: 1;
			transition: all .2s $bezier;
		}
	}

	&--gatsby {
		position: relative;
		background: url('/svg/gatsby.svg') no-repeat center;
		background-size: contain;
		width: 100%;
		height: 100%;
		transform: scale(1);
		transition: all .2s $bezier;
		z-index: 2;

		&-blue {
			background: url('/svg/gatsby-blue.svg') no-repeat center;
			background-size: contain;
			width: 100%;
			height: 100%;
			position: absolute;
			mix-blend-mode: screen;
			top: 0;
			left: 0;
			transform: translate(0);
			z-index: 1;
			transition: all .2s $bezier;
		}

		&-pink {
			background: url('/svg/gatsby-pink.svg') no-repeat center;
			background-size: contain;
			width: 100%;
			height: 100%;
			position: absolute;
			mix-blend-mode: screen;
			top: 0;
			left: 0;
			transform: translate(0);
			z-index: 1;
			transition: all .2s $bezier;
		}
	}

	&--react {
		position: relative;
		background: url('/svg/react.svg') no-repeat center;
		background-size: contain;
		width: 100%;
		height: 100%;
		transform: scale(1);
		transition: all .2s $bezier;
		z-index: 2;

		&-blue {
			background: url('/svg/react-blue.svg') no-repeat center;
			background-size: contain;
			width: 100%;
			height: 100%;
			position: absolute;
			mix-blend-mode: screen;
			top: 0;
			left: 0;
			transform: translate(0);
			z-index: 1;
			transition: all .2s $bezier;
		}

		&-pink {
			background: url('/svg/react-pink.svg') no-repeat center;
			background-size: contain;
			width: 100%;
			height: 100%;
			position: absolute;
			mix-blend-mode: screen;
			top: 0;
			left: 0;
			transform: translate(0);
			z-index: 1;
			transition: all .2s $bezier;
		}
	}

	&--pen {
		background: url('/svg/photoshop.svg') no-repeat center;
		background-size: contain;
		position: relative;
		width: 100%;
		height: 100%;
		transform: scale(1);
		transition: all .2s $bezier;
		z-index: 2;

		&-blue {
			background: url('/svg/photoshop-blue.svg') no-repeat center;
			background-size: contain;
			width: 100%;
			height: 100%;
			position: absolute;
			mix-blend-mode: screen;
			top: 0;
			left: 0;
			transform: translate(0);
			z-index: 1;
			transition: all .2s $bezier;
		}

		&-pink {
			background: url('/svg/photoshop-pink.svg') no-repeat center;
			background-size: contain;
			width: 100%;
			height: 100%;
			position: absolute;
			mix-blend-mode: screen;
			top: 0;
			left: 0;
			transform: translate(0);
			z-index: 1;
			transition: all .2s $bezier;
		}
	}

	&--photoshop {
		background: url('/svg/photoshop.svg') no-repeat center;
		background-size: contain;
		position: relative;
		z-index: 2;
	}
}

.blob-1 {
	fill: $black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: 50% 50%;
	z-index: 3;
  }

.blob-2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: $pink;
	transform-origin: 50% 50%;
	z-index: 2;
}

.blob-3 {
	position: absolute;
	top: 0;
	left: 0;
	fill: $blue;
	width: 100%;
	height: 100%;
	transform-origin: 50% 50%;
	z-index: 1;
}

.blob-new {
	fill: $black;
	width: 300px;
	height: 300px;
	z-index: 2;
}

  @keyframes move {
	0%   { transform: scale(1) rotate(0);}
	25%  { transform: scale(1) rotate(55deg); }
	50%  { transform: scale(1) rotate(180deg); }
	75%  { transform: scale(1) rotate(55deg);}
	100% { transform: scale(1) rotate(0);}
  }


  .text {
	font-family: $font;
	color: $black;
	font-size: 2.5rem;
	font-size: clamp(2.5rem, 3rem, 7vw);
	line-height: clamp(2.5rem, 3rem, 7vw);
	z-index: 1;

	&--display {
		font-weight: 900;
		margin: 10px 0;
		width: 100%;
		padding: 0 20px;
		max-width: 800px;
	}

	&--regular {
		font-size: 1.3rem;
		font-size: clamp(1.3rem, 1.8rem, 4vw);
		line-height: clamp(1.3rem, 1.8rem, 4vw);
		margin: 0;
	}

	&--white {
		color: $cream;
	}

	&--center {
		text-align: center;
	}

	&--pink {
		color: $pink;
	}

	&__hover {
		transition: all .3s $bezier;
		color: $black;
		z-index: 1;
		text-shadow: none;
	}
  }

.video {
    position: relative;
    overflow: hidden;
    height: 450px;
	max-height: 450px;
	max-width: 800px;
	width: 100%;
	z-index: 1;
	border: 5px solid $blue;
	border-top-color: $pink;
	border-left-color: $pink;

	@media (max-width: 811px){
		height: 0;
		padding: 0 10px;
		padding-bottom: 56.25%;
	}

	&-iframe {
		position: absolute;
		left: 0;
		top: 0;
		max-height: 450px;
		height: 100% !important;
		width: 100% !important;
		z-index: 2;
	}
}

.photoshop-grid__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 100%;
	max-width: 980px;
    padding: 0;
	padding-top: 10px;
	mask-border: url('/svg/box2.svg');
}

.photoshop-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0;
    padding: 0;
    margin-top: 40px;

	@media (max-width: $tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: $mobile) {
		grid-template-columns: 1fr;
	}

    &__img {
        max-width: 333.33333px;
        width: 100%;

		&:first-child {
			border-radius: 20px 0 0 0;
		}

		@media (min-width: 812px) {
			&:nth-child(3) {
				border-radius: 0 20px 0 0;
			}
		}
    }

    &__btn {
        width: 100%;
        border: 3px solid $cream;
        color: $cream;
        font-family: $font;
        font-size: 1.5rem;
        padding: 20px 0;
        margin-bottom: 20px;
    }
}


.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0;
	margin-top: 80px;
	border-top: 0;
	border-left: 0;
	padding: 50px 0;
	// max-height: 50%;
	border-right: 0;
	width: 100vw;
	z-index: 1;

	@media (max-width: 585px) {
		min-height: 300px;
	}

	&__svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scale(-1);
		background: url('/svg/header.svg') no-repeat center;
		background-size: cover;

		@media (max-width: 811px) {
			background-size: cover;
		}
	}

	&__tagline {
		border-bottom: 13px solid;
		border-image: url('/portfolio/underline.svg');
		border-image-slice: 125;
		padding: 0 0 20px 0;
	}

	&__blob-green {
		background: url('/svg/blog-green.svg') no-repeat center;
		background-size: contain;
		width: 32px;
		height: 32px;
		margin-right: 7px;
		display: inline-block;
	}
}


.img__james {
	background: url('/james-vector.png') no-repeat center;
	background-size: contain;
	width: 300px;
	height: 300px;
	padding: 20px 0;
	z-index: 1;

	@media (max-width: 811px) {
		width: 250px;
		height: 250px;
	}

	@media (max-width: 585px) {
		width: 200px;
		height: 200px;
	}

}

.img__mail {
	background: url('/svg/mail-blob.svg') no-repeat center;
	background-size: contain;
	width: 300px;
	height: 300px;
	padding: 20px 0;
	z-index: 1;

	@media (max-width: 811px) {
		width: 250px;
		height: 250px;
	}

	@media (max-width: 585px) {
		width: 200px;
		height: 200px;
	}

}

.mobile {
	display: none;

	@media (max-width: $tablet) {
		display: block;
	}
}

.desktop {
	display: block;

	@media (max-width: $tablet) {
		display: none;
	}
}



.moving-overlay--portfolio {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(136deg, $blue 25%, $pink 50%, $black 100%);
	display: block;
	width: 100%;
	height: 100%;
	mix-blend-mode: difference;
	// transition: all .2s linear;
}