.footer {
	@include flex($flex-direction: column, $justify-content: center, $align-items: center);
	position: relative;
	width: 100vw;
	margin: 0;
	margin-top: 80px;
	border-top: 0;
	border-left: 0;
	padding: 50px 0;
	border-right: 0;
	z-index: 1;

	@media (max-width: 585px) {
		min-height: 300px;
	}

	&__hire-me {
		padding-top: 50px;

		span {
			font-weight: 900;
			border-bottom: 8px solid;
			border-image: url('/portfolio/underline.svg');
			border-image-slice: 125;
		}
	}

	&__svg {
		@include background('/svg/header.svg', bottom, cover);
		@include size();
		position: absolute;
		bottom: 0;
		left: 0;
		transform: scale(-1);
	}

	&__copyright {
		position: absolute;
		bottom: 5px;
		margin: 0;
	}
}

.social-icons {
	@include flex($justify-content: center);
	padding: 20px 0;
	margin-top: 20px;
}

.social-icon {
	@include size(70px);
	z-index: 1;
	margin: 0 7px;
	transition: all .15s ease-in-out;

	&--github {
		@include background('/svg/github.svg');
	}

	&--codepen {
		@include background('/svg/codepen.svg');
	}

	&--linkedin {
		@include background('/svg/linkedin.svg');
	}

	&:focus,
	&:hover {
		transform: scale(1.05);
	}
}

.img__mail {
	@include background('/svg/mail-blob.svg');
	@include size(300px);
	padding: 20px 0;
	z-index: 1;

	@media (max-width: 811px) {
		@include size(250px);
	}

	@media (max-width: 585px) {
		@include size(200px);
	}
}