.blob {
    @include position();
    @include size();

    &-1 {
        fill: $black;
        z-index: 3;
      }

    &-2 {
        fill: $pink;
        z-index: 2;
    }

    &-3 {
        fill: $blue;
        z-index: 1;
    }
}