.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0;
    justify-items: center;
    width: 100%;
    max-width: 800px;

    @media (max-width: $mobile) {
        padding: 0 10px;
    }
}

.skill-icon {
	@include flex($justify-content: center, $align-items: center);
	@include size(150px);
	position: relative;
	z-index: 2;

	@media (max-width: $tablet) {
		@include size(100px);
	}

	@media (max-width: $mobile) {
		@include size(85px);
	}

	@media (max-width: $mobile--small) {
		@include size(70px);
	}
}

@each $skill, $_ in $skills {
	.skill-icon--#{$skill} {
		@include background("/svg/#{$skill}.svg");
		@include size();
		position: relative;
		transform: scale(1);
		transition: all .2s $bezier;
		z-index: 2;

		&-blue {
			@include background("/svg/#{$skill}-blue.svg");
			@include size();
			@include position();
			mix-blend-mode: screen;
			transform: translate(0);
			transition: all .2s $bezier;
			z-index: 1;
		}

		&-pink {
			@include background("/svg/#{$skill}-pink.svg");
			@include size();
			@include position();
			mix-blend-mode: screen;
			transform: translate(0);
			transition: all .2s $bezier;
			z-index: 1;
		}
	}
}